<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="G:/GitRepository1/CurrentWorkSpace/NewExampleJune21st2024Repository/BDDActiTimeAutomation">
        <classes>
            <class name="com.sgtesting.actitime.driverscript.DriverScript">
                <methods>
                    <include name="shouldAnswerWithTrue"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>