<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="G:/GitRepository1/CurrentWorkSpace/NewExampleJune21st2024Repository/TestngAutomation">
        <classes>
            <class name="com.sgtest.products.Products">
                <methods>
                    <include name="createProduct"/>
                    <include name="modifyProduct"/>
                    <include name="deleteProduct"/>
                </methods>
            </class>
            <class name="com.sgtest.users.Users">
                <methods>
                    <include name="createUser"/>
                    <include name="modifyUser"/>
                    <include name="deleteUser"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>